/*emotion colors*/
:root {
  --default: rgba(32, 32, 32, 0.7);
  --neutral: rgba(32, 32, 32, 0.7);
  --happy: rgba(28, 196, 37, 0.7);
  --sad: rgba(75, 133, 240, 0.7);
  --angry: rgba(185, 49, 0, 0.7);
  --fearful: rgba(121, 20, 165, 0.7);
  --disgusted: rgba(90, 60, 32, 0.7);
  --surprised: rgba(255, 179, 0, 0.7);
}

body {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(1, 255, 221, 0.5);
}

main {
  margin: auto;
  padding: 100px;
  display: grid;
  max-width: 1000px;
}

section{
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(1rem);
  border-radius: 2rem;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 8px 22px 0 rgba(31,38,135,.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 20px;
  width: 400px;
  height: 764px;
}

h2 {
  margin: 0;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 2rem;
  /* text-decoration: underline; */
}

section ul {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  margin: 0.5em;
  padding: .2em;
  list-style-type: none;
  flex-grow: 2;
  width: 400px;
  height: 20em;
  overflow: auto;
}

section ul > li {
  --background: var(--happy);
  padding: 10px;
  margin: 1em 0;
  font-size: 1.25rem;
  background-color: var(--background);
  border-color: var(--background);
  border-radius: 2rem;
  width: 80%;
  display:inline-block;
  position: relative;
  font-size: 16px;
}

/* section ul > li:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 17px;
  border-top: 20px solid;
  border-top-color: inherit;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
} */

section form {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 2rem;
  width: 90%;
  display: flex;
}

section form input {
  --border: white;
  margin: 0;
  padding: 0 1rem;
  height: 4em;
  width: 100%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: 1px solid;
  border-color: var(--border);
  opacity: 80%;
  outline: none;
}

section form > button {
  background: rgba(36, 0, 255, 0.5);
  border: 1px solid white;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 0 1.5em 0 1.5em;
  margin-left: .2rem;
  outline: none;
  color: white;
  font-weight: 700;
  height: 4em;
}

section:nth-child(2){
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  margin: 0 20px 20px;
  padding: 20px;
  width: 400px;
  height: 350px;
}

section div{
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  width: 150px;
  height: 50px;
  border-radius: 50px;
  margin: auto;
  display: grid;
  place-items: center;
}

section h2{
  text-align: center;
  grid-column: 1/3;
  grid-row: 1/2;
}

section div:nth-child(1){
  grid-column: 1/2;
  grid-row: 2/3;
}

section div:nth-child(2){
  background-color: var(--neutral);
  grid-column: 1/2;
  grid-row: 2/3;
}

section div:nth-child(3){
  background-color: var(--happy);
  grid-column: 2/3;
  grid-row: 2/3;
}

section div:nth-child(4){
  background-color: var(--sad);
  grid-column: 1/2;
  grid-row: 3/4;
}

section div:nth-child(5){
  background-color: var(--angry);
  grid-column: 2/3;
  grid-row: 3/4;
}

section div:nth-child(6){
  background-color: var(--fearful);
  grid-column: 1/2;
  grid-row: 4/5;
}

section div:nth-child(7){
  background-color: var(--disgusted);
  grid-column: 2/3;
  grid-row: 4/5;
}

section div:nth-child(8){
  background-color: var(--surprised);
  grid-column: 1/2;
  grid-row: 5/6;
}

section:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 400px;
  height: 350px;
  display: grid;
  place-items: center;
  margin: 0 20px 20px;
  padding: 20px;
}

section:nth-child(3) >* {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
}